extends layout

block content
  .ui.middle.aligned.center.aligned.grid
    .column
        h1.ui.teal.header
            .content Sign in
        form.ui.large.form(method='POST')
            .ui.stacked.segment
                .field
                    .ui.left.input
                        input(type="text", name="email", placeholder="E-mail address")
                .field
                    .ui.left.input
                        input(type="password",  name="password", placeholder="Password")
                .ui.fluid.large.teal.submit.button Login
                a(href='/auth/github').ui.fluid.large.blue.button
                    i.github.icon
                    | Sign in with GitHub
            .ui.error.message
        .ui.message New to us? 
            a(href='#') Sign up 

