extends layout

block content
  div.ui.middle.aligned.center.aligned.grid
    div.column
        h2.ui.teal.header
            div.content Log-in to your account
        form.ui.large.form
            div.ui.stacked.segment
                div.field
                    div.ui.left.input
                        input(type="text", name="email", placeholder="E-mail address")
                div.field
                    div.ui.left.input
                        input(type="password",  name="password", placeholder="Password")
                div.ui.fluid.large.teal.submit.button Login        
