extends layout

block content
    .ui.middle.aligned.center.aligned.grid
        .column
            h1.ui.teal.header Profile Information
            form.ui.large
                ui.stacked.segment
                    .field
                        label Username
                        input(type="text", name="username", value='#{user.username}')
                    .field
                        label Name
                        input(type="text", name="name", value='#{user.displayName}')
                    .field
                        label URL
                        input(type="text", name="name", value='#{user.profileUrl}')

            
